# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# ----------------------
# Django
# ----------------------
*.log
local_settings.py
db.sqlite3*
media/
private_media/
staticfiles/
logs/
dump.rdb
celerybeat-schedule*
data.json

# ----------------------
# Environment
# ----------------------
.env
.env.*
*.pem
*.key
*.crt
*.jks
*firebase*.json
*adminsdk*.json

# ----------------------
# Git
# ----------------------
.git
.gitignore

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/
*.swp
*.swo

# ----------------------
# OS junk
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Build / misc
# ----------------------
node_modules/
dist/
build/
coverage/
