{% load i18n %}
{% load static %}
{% load user_extras %}
{% csrf_token %}

<!-- HTMX Navigation Partial for Profile Page -->
{% include 'users/partials/profile_content.html' %}

<!-- Floating Actions swapped out-of-band -->
{% include 'users/partials/profile_floating_actions.html' with oob=True %}

<!-- Modals for Profile Page -->
{% include 'users/partials/people_modal.html' %}

<!-- Context Rail Out-Of-Band update for Profile -->
<aside id="context-rail-target" class="desktop-context-rail d-none d-xl-block" aria-label="{% trans 'Contextual Information' %}" hx-swap-oob="true">
    <div class="context-rail-inner" id="context-rail-inner">
        {% include 'users/partials/profile_context_rail.html' %}
    </div>
</aside>

<!-- Left Rail Out-Of-Band: restore PwaniNet left rail -->
<aside id="left-nav-rail" class="desktop-left-rail d-none d-lg-block" aria-label="{% trans 'Global Navigation' %}" hx-swap-oob="true">
    <div class="left-rail-inner">
        {% include 'partials/desktop_left_rail.html' %}
    </div>
</aside>

