<div class="modal fade" id="pwaninetStatusModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" style="z-index: 1000002;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg rounded-4">
      <div class="modal-body text-center p-5">
        <div id="pwaninetStatusModalIcon" class="mb-3" aria-hidden="true"></div>
        <h5 id="pwaninetStatusModalTitle" class="fw-bold mb-2"></h5>
        <p id="pwaninetStatusModalSubtitle" class="text-muted mb-0 small"></p>
      </div>
    </div>
  </div>
</div>
