{% load static %}
{% load humanize %}
<div id="announcement-card-{{ announcement.id }}"
     data-announcement-id="{{ announcement.id }}"
     class="announcement-card shadow-sm mb-3 {% if unread_announcement_ids and announcement.id in unread_announcement_ids %}unread-notification unread-announcement{% else %}bg-white{% endif %} rounded-3 overflow-hidden border-0"
     onclick="handleAnnouncementCardClick('{{ announcement.id }}', event)">
    {% include 'groups/partials/announcement_header.html' %}
    
    {% include 'groups/partials/announcement_content.html' %}
    
    {% include 'groups/partials/announcement_actions.html' %}
</div>
