{% load static i18n %}
<div class="post-content-wrapper" data-post-id="{{ post.share_id }}">
    {% if post.repost_of and post.content %}
        <div class="mb-2 post-repost-comment post-text-body">
            {{ post.content|urlize|linebreaksbr }}
        </div>
    {% endif %}

    {% with content_to_show=post.repost_of.content|default:post.content %}
        {% if content_to_show %}
            <div id="post-text-{{ post.share_id }}" class="post-text-body {% if is_detail %}is-expanded{% elif content_to_show|length <= 85 and not post.images.exists and not post.video and not post.audio and not post.docs and not post.shared_document and not post.get_intel_file %}fb-text-large{% else %}post-text-clamp{% endif %}">
                {{ content_to_show|urlize|linebreaksbr }}
            </div>
            {% if not is_detail and content_to_show|length > 180 and not content_to_show|length <= 85 %}
                <button type="button"
                        class="see-more-btn"
                        data-target-id="post-text-{{ post.share_id }}"
                        data-more-text="{% trans 'See more' %}"
                        data-less-text="{% trans 'See less' %}"
                        aria-expanded="false"
                        aria-controls="post-text-{{ post.share_id }}">
                    {% trans "See more" %}
                </button>
            {% endif %}
        {% endif %}
    {% endwith %}
</div>
