asgiref==3.11.1
Django==5.2.13
sqlparse==0.5.5
psycopg2==2.9.9
python-decouple==3.8
redis==5.0.1
celery==5.3.4
djangorestframework==3.14.0
django-cors-headers==4.3.1
whitenoise==6.6.0
Pillow==10.4.0
gunicorn==21.2.0
Faker==25.2.0
