{% extends 'base.html' %}{# WE must include the base html because of the HTMX link or else the year drop down won't work properly #}

{% block content %}
<div style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid whitesmoke; border-radius: 8px;">
    <h2>PwaniNet student account Register</h2>
    <p>Register Here.</p>
    
    <form method="POST">
        {% csrf_token %}

    {# WE are going to use the forms from forms.py #}
        {{ form.as_p }}
        
        <div style="margin-top: 20px;">
            <button type="submit" style="padding: 10px 20px; cursor: pointer;">Complete Registration</button>
        </div>
    </form>
    
    <hr>
    <p>Already have an account? <a href="{% url 'login' %}">Login Instead</a></p>
</div>
{% endblock %}