<div class="messages-area" id="messagesContainer">
  {% for message in messages %}
    {% with message_date=message.created_at|date:"Y-m-d" %}
      {% if forloop.first %}
        {% include 'messaging/partials/date_separator.html' with date=message.created_at %}
        {% include 'messaging/partials/message_bubble.html' with first_in_group=True %}
      {% else %}
        {% with prev_message=messages|slice:forloop.counter0|last %}
          {% with prev_date=prev_message.created_at|date:"Y-m-d" %}
            {% if message_date != prev_date %}
              {% include 'messaging/partials/date_separator.html' with date=message.created_at %}
            {% endif %}
            {% if prev_message.sender.id == message.sender.id %}
              {% include 'messaging/partials/message_bubble.html' with first_in_group=False %}
            {% else %}
              {% include 'messaging/partials/message_bubble.html' with first_in_group=True %}
            {% endif %}
          {% endwith %}
        {% endwith %}
      {% endif %}
    {% endwith %}
  {% empty %}
    {% include 'messaging/partials/empty_conversation.html' %}
  {% endfor %}
</div>
