{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="padding-top: 20px;">
    {% block repository_content %}
    {% endblock repository_content %}
</div>
<div id="document-modal-container"></div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'vendor/pdfjs/pdf.min.js' %}" defer></script>
<script src="{% static 'documents/js/document-viewer.js' %}" defer></script>
{% endblock %}

{% block floating_actions %}
    {% include 'documents/partials/document_floating_actions.html' with oob=False %}
{% endblock %}

{% block context_rail %}
    {% include 'documents/partials/documents_context_rail.html' %}
{% endblock %}
